<html>
    <head>
        
        <link type=text/css rel=stylesheet href=/assets/styles.css />
        </head>
        
        <body>
        <h1>Player <%= ID %></h1>
        <h2>Query in url is <%= QUERY %></h2>
        
        </body>
        </html>